<h3> find where your friends are listening to the most: </h3>

<% @ratio.errors.full_messages.each do |msg| %>
<li> <%= msg %> </li>
<% end %>


<%= form_for @ratio do |f| %>

<%= f.label :lastfm_username %>
<%= f.text_field :lastfm_username %>

<%= f.label :country %>
<%= f.select :country, Lastfm.countries %>

<%= f.label :city %>
<%= f.select :city, Lastfm.cities %>


<%= f.submit "calculate sync ratio"%>
<% end %>

<br>
</br>
<%= link_to("back to all ratios", ratios_path) %>
