<h3> find where your friends are listening to the most! </h3>
<h5> enter any valid last.fm username (not your homusik username), and the city to calculate their sync with (make sure to select the correct country for your city selection!): </h5>

<% @ratio.errors.full_messages.each do |msg| %>
<li> <%= msg %> </li>
<% end %>


<%= form_for @ratio do |f| %>

<%= f.label :lastfm_username %>
<%= f.text_field :lastfm_username %>

<%= f.label :city %>
<%= f.collection_select :city, City.all, :name, :name %>

<%= f.label :country %>
<%= f.collection_select :country, Country.all, :name, :name %>

<%= f.submit "calculate sync ratio"%>
<% end %>

<br>
</br>
<%= link_to("back to all ratios", ratios_path) %>
