<% @user.errors.full_messages.each do |msg| %>
<li> <%= msg %> </li>
<% end %>

<%= form_for @user do |f| %>

<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :lastfm_username %>
<%= f.text_field :lastfm_username %>

<%= f.label :photo_url %>
<%= f.text_field :photo_url %>

<%= f.label :city %>
<%= f.collection_select :city, City.all, :name, :name %>

<%= f.label :country %>
<%= f.collection_select :country, Country.all, :name, :name %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>

<%= f.submit %>
<% end %>
