<html>
  <body>
    <h2><%= @user.username %>'s page <h2>
      <img src= '<%= @user.photo_url %>' >
      <p>listening in: <%= @user.city.capitalize %>, <%= @user.country.capitalize %> </p>
      <p>listening as: <%= @user.lastfm_username %> </p>

    <p><%= link_to 'edit me!', edit_user_path(@user)  %></p>

    <p><%= button_to "delete me?", user_path(@user), method: :delete %></p>

  </body>
</html>
