<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <style>
body {
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: rgb(255,0,0);
  background-color: rgb(192,192,192);
}
h1 {
  font-family: 'Poiret One', cursive;
  color: rgb(255,0,0);
  background-color: rgb(192,192,192);
}
ul{
  font-family: 'Poiret One', cursive;
  color: rgb(255,0,0);
  list-style:none;
  position:relative;
  align-content: center;
}

  <title>homusik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </style>
</head>
<body>
  <h4><%= link_to "homusik home", root_path %></h4>

  <% if current_user %>
  <h2>welcome to homusik, <%= current_user.username %> </h2>
  <p><%= link_to "my homusik", user_path(current_user) %> | <%= link_to "log out", logout_path %> | <%= link_to "calculate a user/city sync ratio", new_ratio_path %></p>
  <hr>

  <% else %>
  <p><%= link_to "sign up", new_user_path %> | <%= link_to "log in", login_path %></p>
  <hr>
  <% end %>

<%= yield %>

</body>
</html>
